<div class="flex items-center mx-5 my-5">
  <i class="pi pi-arrow-left" pButtonIcon (click)="navigateBack()"></i>
  <p class="w-full text-center text-xl font-bold">Novo Contrato de Locação</p>
</div>
<div class="min-h-screen w-full flex justify-center items-center">
  <form class="w-11/12" *ngIf="contratoForm" [formGroup]="contratoForm" (ngSubmit)="salvarContrato()">
    <div class="w-full flex flex-col gap-4">
      <div class="flex flex-col gap-1">
        <label for="nome" class="font-bold">Nome/Razão Social</label>
        <input pInputText id="nome" formControlName="nome" class="w-full"/>
      </div>

      <div class="flex flex-col gap-1">
        <label for="cpf" class="font-bold">CPF</label>
        <p-inputMask id="cpf" formControlName="cpf" mask="999.999.999-99" styleClass="w-full"></p-inputMask>
      </div>

      <div class="flex flex-col gap-1">
        <label for="rg" class="font-bold">RG</label>
        <p-inputMask id="rg" formControlName="rg" mask="99.999.999-*" styleClass="w-full"></p-inputMask>
      </div>

      <div class="flex flex-col gap-1">
        <label for="cidade" class="font-bold">Cidade</label>
        <input pInputText id="cidade" formControlName="cidade"/>
      </div>

      <div class="flex flex-col gap-1">
        <label for="endereco" class="font-bold">Endereço</label>
        <input pInputText id="endereco" formControlName="endereco"/>
      </div>

      <div class="flex flex-col gap-1">
        <label for="bairro" class="font-bold">Bairro</label>
        <input pInputText id="bairro" formControlName="bairro"/>
      </div>

      <div class="flex flex-col gap-1">
        <label for="telefone" class="font-bold">Telefone</label>
        <p-inputMask id="telefone" formControlName="telefone" mask="(99) 99999-9999" styleClass="w-full"></p-inputMask>
      </div>

      <div class="flex flex-col gap-1">
        <label for="email" class="font-bold">E-mail</label>
        <input pInputText type="email" id="email" formControlName="email"/>
      </div>

      <div class="flex flex-col gap-1">
        <label for="data-locacao" class="font-bold">Data da locação</label>
        <input pInputText id="data-locacao" formControlName="dataLocacao" type="date"/>
      </div>

      <div class="flex flex-col gap-1">
        <label for="data-entrega" class="font-bold">Data da entrega</label>
        <input pInputText id="data-entrega" formControlName="dataEntrega" type="date">
      </div>

      <hr class="my-4 border-slate-600">

      <div formArrayName="equipamentos">
        <div *ngFor="let equip of equipamentos.controls; let i=index" [formGroupName]="i"
             class="bg-stone-800 p-4 rounded-lg mb-4 relative shadow-sm">
          <div class="grid grid-cols-1 md:grid-cols-3 gap-3">
            <div class="flex flex-col gap-1">
              <label class="font-bold">Equipamento</label>
              <input pInputText formControlName="descricao" placeholder="Ex: Betoneira"/>
            </div>
            <div class="flex flex-col gap-1">
              <label class="font-bold">Quantidade</label>
              <input pInputText type="number" formControlName="quantidade"/>
            </div>
            <div class="flex flex-col gap-1">
              <label class="font-bold">Valor (R$)</label>
              <input pInputText type="number" formControlName="valor"/>
            </div>
            <div class="flex justify-between gap-2">
              <button *ngIf="equipamentos.length > 1" pButton type="button" label="Excluir" icon="pi pi-trash"
                      class="p-button-outlined border-red-300 border p-button-danger w-full"
                      (click)="removerEquipamento(i)"></button>

              <button pButton type="button" label="Adicionar equipamento" icon="pi pi-plus-circle"
                      class="p-button-outlined w-full" (click)="addEquipamento()"></button>
            </div>
          </div>
        </div>
      </div>


      <div class="mt-2 mb-5">
        <button pButton type="submit" label="Criar contrato" icon="pi pi-share-alt"
                class="p-button-primary w-full" [disabled]="contratoForm.invalid"></button>
      </div>
    </div>
  </form>
</div>

<p-confirmdialog styleClass="meu-dialog-customizado">
  <ng-template #message let-message>
    @if (message) {
      <div class="flex flex-col items-center w-full gap-4 border-b border-surface-200 dark:border-surface-700">
        <i [ngClass]="message.icon" class="!text-6xl text-primary-500"></i>
        <p>{{ message.message }}</p>
      </div>
    }
  </ng-template>
</p-confirmdialog>

  <p-blockUI [blocked]="loading">
    <div class="fixed inset-0 z-[10001] flex flex-col items-center justify-center bg-black/50 backdrop-blur-sm" *ngIf="loading">
      <p-progressSpinner
        strokeWidth="4"
        fill="transparent"
        animationDuration=".5s">
      </p-progressSpinner>
    </div>
  </p-blockUI>
